<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.LanguageCode "en" }}">
<head>
  {{ partial "head.html" . }}
  {{ block "head" . }}{{ end }}
</head>
{{ $fontComboClass := "" }}
{{ with .Site.Params.font.combo }}
  {{ if eq . "neuton-inter" }}
    {{ $fontComboClass = "font-combo-neuton-inter" }}
  {{ else if eq . "cormorant-inter" }}
    {{ $fontComboClass = "font-combo-cormorant-inter" }}
  {{ else if eq . "bodoni-inter" }}
    {{ $fontComboClass = "font-combo-bodoni-inter" }}
  {{ else if eq . "playfair-inter" }}
    {{ $fontComboClass = "font-combo-playfair-inter" }}
  {{ else if eq . "spectral-inter" }}
    {{ $fontComboClass = "font-combo-spectral-inter" }}
  {{ else if eq . "cinzel-inter" }}
    {{ $fontComboClass = "font-combo-cinzel-inter" }}
  {{ end }}
{{ end }}
<body class="{{ $fontComboClass }}">
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
              {{ block "main" . }}
              {{ end }}
          </div>
      </div>
  </div>
  {{ partial "scripts.html" . }}
</body>
</html>
